In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

PATH = 'data/P/'

base = pd.read_csv(PATH + 'price_housebase.tsv', sep='\t')
train = pd.read_csv(PATH + 'price_train.tsv', sep='\t')
test = pd.read_csv(PATH + 'price_test.tsv', sep='\t')
sample = pd.read_csv(PATH + 'price_sample_submission.tsv', sep='\t')

In [5]:
keys = set(base['city_quadkey']).union(set(train['city_quadkey'])).union(test['city_quadkey'])

In [29]:
key_data = pd.DataFrame(index=keys)

In [12]:
train['city_quadkey'].value_counts().describe()

count    7097.000000
mean       23.393969
std        11.468626
min         1.000000
25%        13.000000
50%        32.000000
75%        32.000000
max        32.000000
Name: city_quadkey, dtype: float64

In [20]:
pd.set_option('display.max_columns', None)

In [26]:
district_cols = ['beauty_cnt', 'shopping_cnt', 'cafe_restaurant_eating_out_cnt', 'entertainment_cnt',
                'sport_cnt', 'chain_cnt', 'groceries_and_everyday_items_cnt', 'art_cnt', 'healthcare_cnt',
                'laundry_and_repair_services_cnt']

house_cols = ['building_series_id', 'flats_count', 'building_type', 'unified_address', 
             'expect_demolition', 'latitude', 'longitude', 'ceiling_height', 'has_elevator',
             'build_year']

In [31]:
bd = base[district_cols + ['city_quadkey']].set_index('city_quadkey')
bd.head()

,beauty_cnt,shopping_cnt,cafe_restaurant_eating_out_cnt,entertainment_cnt,sport_cnt,chain_cnt,groceries_and_everyday_items_cnt,art_cnt,healthcare_cnt,laundry_and_repair_services_cnt
city_quadkey,,,,,,,,,,
120310101302011,36.0,45.0,24.0,18.0,13.0,127.0,32.0,7.0,16.0,38.0
120310101302011,36.0,45.0,24.0,18.0,13.0,127.0,32.0,7.0,16.0,38.0
120310101302011,36.0,45.0,24.0,18.0,13.0,127.0,32.0,7.0,16.0,38.0
120310101031222,6.0,23.0,11.0,16.0,5.0,60.0,25.0,4.0,14.0,25.0
120310101031222,6.0,23.0,11.0,16.0,5.0,60.0,25.0,4.0,14.0,25.0

In [33]:
kd = pd.DataFrame(pd.Series(list(keys), name='quadkeys'))

In [56]:
joint = kd.join(bd, on='quadkeys')

In [55]:
bd = bd.drop_duplicates()

In [37]:
train.head()

,apartment_ratio,offers_in_sites_ratio,unique_active_buildings_count,avg_price_sqm,month,unique_active_building_series_count,rooms_offered_3_ratio,city_quadkey,median_price_sqm,rooms_offered_4_more_ratio,rooms_offered_1_ratio,total_area_avg,studio_ratio,offer_count,rooms_offered_2_ratio
0,0.0,0.0,1,22727.273438,2018-02-01,1,0.0,120132230303223,22727.273438,0.0,0.0,44.0,0.0,1,1.0
1,0.0,0.0,1,22727.273438,2018-03-01,1,0.0,120132230303223,22727.273438,0.0,0.0,44.0,0.0,1,1.0
2,0.0,0.0,1,43478.261719,2018-06-01,1,0.0,120132230332230,43478.261719,0.0,1.0,34.5,0.0,1,0.0
3,0.0,0.0,1,43478.261719,2018-07-01,1,0.0,120132230332230,43478.261719,0.0,1.0,34.5,0.0,1,0.0
4,0.0,0.0,1,36250.000000,2017-01-01,1,1.0,120132231322113,35714.285156,0.0,0.0,56.0,0.0,3,0.0

In [42]:
to_rm = ['avg_price_sqm', 'month', 'city_quadkey', 'median_price_sqm']
feats = list(train.columns)
for el in to_rm:
    feats.remove(el)

In [44]:
mean = train.groupby('city_quadkey')[feats].mean()

In [58]:
joint = joint.join(mean, on='quadkeys')

In [60]:
test

            month     city_quadkey
0      2020-03-01  120132230323210
1      2019-09-01  120132231322113
2      2019-10-01  120132231322113
3      2019-11-01  120132231322113
4      2019-12-01  120132231322113
...           ...              ...
38025  2019-11-01  120311020100310
38026  2019-12-01  120311020100310
38027  2020-01-01  120311020100310
38028  2020-02-01  120311020100310
38029  2020-03-01  120311020100310

[38030 rows x 2 columns]

In [65]:
real_train = train[['month', 'city_quadkey']]

In [66]:
real_train = real_train.join(joint.set_index('quadkeys'), on='city_quadkey')
real_test = test.join(joint.set_index('quadkeys'), on='city_quadkey')

In [72]:
real_train['month_id'] = real_train['month'].apply(pd.to_datetime).apply(lambda x: x.month)
real_test['month_id'] = real_test['month'].apply(pd.to_datetime).apply(lambda x: x.month)

In [74]:
real_train.drop(['month', 'city_quadkey'], axis=1, inplace=True)
real_test.drop(['month', 'city_quadkey'], axis=1, inplace=True)

In [78]:
import xgboost
model = xgboost.XGBRegressor()
model.fit(real_train, train['avg_price_sqm'])

[13:45:47] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [79]:
res = model.predict(real_test)

In [82]:
sample['avg_price_sqm'] = res

In [93]:
import numpy as np

def mape(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [94]:
mape(train['avg_price_sqm'], model.predict(real_train))

27.727637824687818

In [85]:
sample

            month     city_quadkey  avg_price_sqm
0      2020-03-01  120132230323210   57220.042969
1      2019-09-01  120132231322113   56955.140625
2      2019-10-01  120132231322113   56955.140625
3      2019-11-01  120132231322113   56955.140625
4      2019-12-01  120132231322113   56955.140625
...           ...              ...            ...
38025  2019-11-01  120311020100310   46813.457031
38026  2019-12-01  120311020100310   46813.457031
38027  2020-01-01  120311020100310   46813.457031
38028  2020-02-01  120311020100310   46813.457031
38029  2020-03-01  120311020100310   46813.457031

[38030 rows x 3 columns]

In [84]:
sample.to_csv('data/first.tsv', index=False, sep='\t')

In [21]:
base[base['city_quadkey'] == 120310101211103][:4]

,beauty_cnt,building_id,building_series_id,shopping_cnt,flats_count,latitude,building_type,cafe_restaurant_eating_out_cnt,unified_address,entertainment_cnt,sport_cnt,chain_cnt,groceries_and_everyday_items_cnt,art_cnt,site_id,healthcare_cnt,expect_demolition,longitude,ceiling_height,has_elevator,laundry_and_repair_services_cnt,build_year,city_quadkey
36135,89.0,2758139288968364454,1564812,113.0,24,55.745602,BRICK,45.0,"Россия, Москва, Большой Власьевский переулок, 10",23.0,15.0,194.0,37.0,91.0,0,42.0,False,37.591663,2.8,True,61.0,1927,120310101211103
36136,89.0,2758139288968364453,0,113.0,0,55.746349,BRICK,45.0,"Россия, Москва, Большой Власьевский переулок, 11",23.0,15.0,194.0,37.0,91.0,0,42.0,False,37.589848,0.0,False,61.0,1937,120310101211103
36137,89.0,2758139288968364452,1564812,113.0,17,55.745819,BRICK,45.0,"Россия, Москва, Большой Власьевский переулок, 12",23.0,15.0,194.0,37.0,91.0,0,42.0,False,37.591263,0.0,True,61.0,1981,120310101211103
36138,89.0,2758139288968364450,1564812,113.0,0,55.746422,BRICK,45.0,"Россия, Москва, Большой Власьевский переулок, 14",23.0,15.0,194.0,37.0,91.0,0,42.0,False,37.591026,0.0,True,61.0,0,120310101211103

In [16]:
train[train['city_quadkey'] == 120310101021003][:10]

,apartment_ratio,offers_in_sites_ratio,unique_active_buildings_count,avg_price_sqm,month,unique_active_building_series_count,rooms_offered_3_ratio,city_quadkey,median_price_sqm,rooms_offered_4_more_ratio,rooms_offered_1_ratio,total_area_avg,studio_ratio,offer_count,rooms_offered_2_ratio
50021,0.0,0.0,16,178208.836486,2017-01-01,6,0.210526,120310101021003,177272.734375,0.026316,0.350877,58.930175,0.017544,114,0.403509
50022,0.0,0.0,13,174670.968211,2017-02-01,5,0.172414,120310101021003,174994.046875,0.034483,0.379310,57.705172,0.034483,58,0.396552
50023,0.0,0.0,13,175237.199587,2017-03-01,5,0.169811,120310101021003,174988.093750,0.037736,0.396226,56.290566,0.037736,53,0.377358
50024,0.0,0.0,12,173054.933750,2017-04-01,5,0.220000,120310101021003,174382.070312,0.040000,0.360000,58.546000,0.040000,50,0.360000
50025,0.0,0.0,11,172924.141290,2017-05-01,5,0.212766,120310101021003,174386.921875,0.021277,0.425532,56.391489,0.042553,47,0.319149
50026,0.0,0.0,11,172871.268949,2017-06-01,5,0.212766,120310101021003,174386.921875,0.021277,0.446809,56.061702,0.042553,47,0.297872
50027,0.0,0.0,13,175132.982781,2017-07-01,6,0.224490,120310101021003,174988.093750,0.020408,0.428571,56.291837,0.061224,49,0.306122
50028,0.0,0.0,14,173272.667026,2017-08-01,6,0.224138,120310101021003,174415.679688,0.017241,0.379310,57.350862,0.051724,58,0.362069
50029,0.0,0.0,15,173997.642857,2017-09-01,6,0.253968,120310101021003,174988.093750,0.031746,0.380952,58.802381,0.047619,63,0.317460
50030,0.0,0.0,17,176738.819235,2017-10-01,6,0.275862,120310101021003,175856.164062,0.051724,0.379310,58.943965,0.051724,58,0.275862