In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from utils import preproc

In [2]:
train = pd.read_csv('price_train.tsv', sep='\t')
house = pd.read_csv('price_housebase.tsv', sep='\t')

In [16]:
train['month'] = pd.to_datetime(train.month)
train.head(1)

,apartment_ratio,offers_in_sites_ratio,unique_active_buildings_count,avg_price_sqm,month,unique_active_building_series_count,rooms_offered_3_ratio,city_quadkey,median_price_sqm,rooms_offered_4_more_ratio,rooms_offered_1_ratio,total_area_avg,studio_ratio,offer_count,rooms_offered_2_ratio
0,0.0,0.0,1,22727.273438,2018-02-01,1,0.0,120132230303223,22727.273438,0.0,0.0,44.0,0.0,1,1.0

In [5]:
house['latlon'] = list(zip(house.latitude.values, house.longitude.values))

In [6]:
house.head(1)

,beauty_cnt,building_id,building_series_id,shopping_cnt,flats_count,latitude,building_type,cafe_restaurant_eating_out_cnt,unified_address,entertainment_cnt,...,site_id,healthcare_cnt,expect_demolition,longitude,ceiling_height,has_elevator,laundry_and_repair_services_cnt,build_year,city_quadkey,latlon
0,36.0,3031030817531317628,0,45.0,0,55.705219,BRICK,24.0,"Россия, Москва, 1-й Автозаводский проезд, 3",18.0,...,0,16.0,False,37.656994,0.0,True,38.0,1937,120310101302011,"(55.70521926879883, 37.6569938659668)"

In [7]:
preproc.dist_to_center(house.latlon)

             angle       dist
0       208.609050   5.662364
1       208.592932   5.708018
2       209.068190   5.747173
3        46.520739   8.484255
4        47.252273   8.448343
...            ...        ...
112198  229.115474  49.273623
112199  201.878450  75.988917
112200  187.834313   1.904622
112201  148.526656   8.873159
112202  127.141834   3.917588

[112203 rows x 2 columns]

In [8]:
preproc.closest_tube(house.latlon)

        dist_to_closest_tube line_color
0                   0.255580          2
1                   0.295454          2
2                   0.314815          2
3                   1.275847          2
4                   1.176962          2
...                      ...        ...
112198             32.001603          7
112199             59.466135          7
112200              0.461380          9
112201              0.793439          6
112202              0.420294          1

[112203 rows x 2 columns]

In [7]:
train.groupby('city_quadkey').avg_price_sqm.std()

city_quadkey
120132230303223       0.000000
120132230332230       0.000000
120132231322113    1287.789509
120132231331111    2345.618405
120132231331113    2371.948520
                      ...
120311020001133    2016.597038
120311020001311    2201.454045
120311020010022    2401.060228
120311020010200    2139.999340
120311020100310    1667.596054
Name: avg_price_sqm, Length: 7097, dtype: float64

In [8]:
train.groupby('city_quadkey').avg_price_sqm.mean() > train.groupby('city_quadkey').avg_price_sqm.std()

city_quadkey
120132230303223    True
120132230332230    True
120132231322113    True
120132231331111    True
120132231331113    True
                   ...
120311020001133    True
120311020001311    True
120311020010022    True
120311020010200    True
120311020100310    True
Name: avg_price_sqm, Length: 7097, dtype: bool

In [37]:
train.groupby('city_quadkey').get_group(120311020100310)

,apartment_ratio,offers_in_sites_ratio,unique_active_buildings_count,avg_price_sqm,month,unique_active_building_series_count,rooms_offered_3_ratio,city_quadkey,median_price_sqm,rooms_offered_4_more_ratio,rooms_offered_1_ratio,total_area_avg,studio_ratio,offer_count,rooms_offered_2_ratio
165995,0.0,0.0,2,17823.163818,2017-01-01,1,0.000000,120311020100310,17873.138672,0.0,0.250000,40.750000,0.0,4,0.750000
165996,0.0,0.0,2,17823.163818,2017-02-01,1,0.000000,120311020100310,17873.138672,0.0,0.250000,40.750000,0.0,4,0.750000
165997,0.0,0.0,1,21240.479248,2017-03-01,1,0.000000,120311020100310,20179.166992,0.0,0.250000,38.775000,0.0,4,0.750000
165998,0.0,0.0,1,23682.957682,2017-04-01,1,0.000000,120311020100310,21633.333984,0.0,0.333333,36.366666,0.0,3,0.666667
165999,0.0,0.0,1,23682.957682,2017-05-01,1,0.000000,120311020100310,21633.333984,0.0,0.333333,36.366666,0.0,3,0.666667
166000,0.0,0.0,1,23682.957682,2017-06-01,1,0.000000,120311020100310,21633.333984,0.0,0.333333,36.366666,0.0,3,0.666667
166001,0.0,0.0,1,23682.957682,2017-07-01,1,0.000000,120311020100310,21633.333984,0.0,0.333333,36.366666,0.0,3,0.666667
166002,0.0,0.0,2,21780.075439,2017-08-01,1,0.000000,120311020100310,20179.166992,0.0,0.250000,41.275000,0.0,4,0.750000
166003,0.0,0.0,4,18548.533482,2017-09-01,1,0.000000,120311020100310,18888.888672,0.0,0.000000,47.428571,0.0,7,1.000000
166004,0.0,0.0,3,18216.900809,2017-10-01,1,0.000000,120311020100310,18888.888672,0.0,0.000000,45.142857,0.0,7,1.000000
166005,0.0,0.0,3,19595.611220,2017-11-01,1,0.000000,120311020100310,18888.888672,0.0,0.111111,43.488889,0.0,9,0.888889
166006,0.0,0.0,4,20747.692738,2017-12-01,1,0.000000,120311020100310,19047.619141,0.0,0.090909,45.218182,0.0,11,0.909091
166007,0.0,0.0,5,20372.885010,2018-01-01,1,0.000000,120311020100310,18968.253906,0.0,0.083333,44.783333,0.0,12,0.916667
166008,0.0,0.0,6,19633.939542,2018-02-01,1,0.000000,120311020100310,18888.888672,0.0,0.090909,44.636364,0.0,11,0.909091
166009,0.0,0.0,5,19707.940290,2018-03-01,1,0.000000,120311020100310,19246.032227,0.0,0.071429,47.028572,0.0,14,0.928571
166010,0.0,0.0,7,20049.448752,2018-04-01,1,0.000000,120311020100310,18888.888672,0.0,0.043478,46.739130,0.0,23,0.956522
166011,0.0,0.0,8,20060.663923,2018-05-01,1,0.000000,120311020100310,18750.000000,0.0,0.047619,45.619048,0.0,21,0.952381
166012,0.0,0.0,9,20785.050909,2018-06-01,1,0.000000,120311020100310,18888.888672,0.0,0.086957,44.852174,0.0,23,0.913043
166013,0.0,0.0,11,20259.934231,2018-07-01,1,0.000000,120311020100310,18888.888672,0.0,0.043478,45.608696,0.0,23,0.956522
166014,0.0,0.0,10,19714.393799,2018-08-01,1,0.000000,120311020100310,18750.000000,0.0,0.050000,45.480000,0.0,20,0.950000
166015,0.0,0.0,9,19217.889134,2018-09-01,1,0.000000,120311020100310,18750.000000,0.0,0.052632,45.526316,0.0,19,0.947368
166016,0.0,0.0,8,19390.487901,2018-10-01,1,0.000000,120311020100310,18750.000000,0.0,0.000000,46.055556,0.0,18,1.000000
166017,0.0,0.0,8,19390.487901,2018-11-01,1,0.000000,120311020100310,18750.000000,0.0,0.000000,46.055556,0.0,18,1.000000
166018,0.0,0.0,6,19013.433105,2018-12-01,1,0.062500,120311020100310,18614.130859,0.0,0.000000,48.000000,0.0,16,0.937500
166019,0.0,0.0,6,19013.433105,2019-01-01,1,0.062500,120311020100310,18614.130859,0.0,0.000000,48.000000,0.0,16,0.937500
166020,0.0,0.0,6,19121.575000,2019-02-01,1,0.066667,120311020100310,18750.000000,0.0,0.000000,48.133333,0.0,15,0.933333
166021,0.0,0.0,8,18805.016168,2019-03-01,1,0.055556,120311020100310,18614.130859,0.0,0.055556,46.388889,0.0,18,0.888889
166022,0.0,0.0,9,18744.729749,2019-04-01,1,0.052632,120311020100310,18478.261719,0.0,0.052632,46.421053,0.0,19,0.894737
166023,0.0,0.0,9,19055.593378,2019-05-01,1,0.047619,120311020100310,18750.000000,0.0,0.047619,46.309524,0.0,21,0.904762
166024,0.0,0.0,9,19081.275263,2019-06-01,1,0.043478,120311020100310,18750.000000,0.0,0.043478,45.995652,0.0,23,0.913043
166025,0.0,0.0,10,19047.505127,2019-07-01,1,0.041667,120311020100310,18614.130859,0.0,0.041667,45.933333,0.0,24,0.916667
166026,0.0,0.0,10,19047.505127,2019-08-01,1,0.041667,120311020100310,18614.130859,0.0,0.041667,45.933333,0.0,24,0.916667

In [35]:
numbers = train.city_quadkey.values.unique()
cnt = 0
for x in train.groupby('city_quadkey').get_group(np.):
    t = x
    if cnt == 0:
        break
    cnt -= 1

AttributeError: 'DataFrameGroupBy' object has no attribute 'index'

In [40]:
np.random.choice(numbers)

ValueError: a must be 1-dimensional or an integer